{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}
<div class="header">
    <!-- Geniral information from the DB -->
    <h2>Owner: {{puzzle.owner.username}}</h2>
</div>
<main>
   <!-- Flash Card -->
    <h4>Question: {{puzzle.problem}}</h4>
    <h4>Answer: {{puzzle.answer}}</h4>
</main>
 {% if loggedIn == true %}
    <section class="actions">
        {% if userId == puzzle.owner.id %}
            <h4>
                {% if puzzle.public %}
                    This puzzle is public.
                {% else %}
                    This puzzle is private.
                {% endif %}
            </h4>
            {% for collection in puzzle.collections %}
                <h4>Collection: <a href="/collection/{{collection.id}}">{{collection.name}}</a></h4>
            {% endfor %}
            
            <!-- Buttons to do thing with this question/answer -->
            <div class="two-grouped">
                <!-- edit -->
                <a href="/puzzle/{{puzzle.id}}/edit" class="btn edit">
                    Edit
                </a>
                <!-- delete -->
                <form action="/puzzle/delete/{{puzzle.id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn delete">
                </form>
            </div>
        {% endif %}
        <!-- Add this one problem to your personal tracker. -->
        <form action="/user/tracker/{{puzzle.id}}" method="POST">
            <input type="submit" value="Add to my Problems" class="btn add add-to-stack">
        </form>
    </section>
{% endif %}
{% endblock %}