{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}
  <section class="header">
    <h1>
      {{collection.name}} <span class="show-page-author author"> by {{collection.owner.username}}</span>
    </h1>
  </section>
  <section class="main-content problems">
    <!-- fetch -->
    <!-- fetching public problems -->
    {% assign publicCounter = 0 %}
      {% for item in collection.puzzle %}
        {% if item.public == true %}
          {% assign publicCounter = publicCounter | plus: 1  %}
        {% endif %}
      {% endfor %}
      <!-- fetching private problems -->
      {% assign privateCounter = 0 %}
        {% for item in collection.puzzle %}
          {% if item.public == false %}
        {% assign privateCounter = privateCounter | plus: 1  %}
      {% endif %}
      {% endfor %}
      <!-- END of fetch -->
      <h3>
        Problems {{publicCounter}}
      </h3>
      <!-- Display Public Problems-->
      {% if publicCounter == 0 %}
        <p>
          This collection has no problems in it.
        </p>
      {% else %}
      {% for puzzle in collection.puzzle %}
        {% if puzzle.public == true %}
          <div class="row">
            <a href="/puzzle/{{puzzle.id}}">
              {{puzzle.problem}}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <!-- Display Public Problems (if owner)-->
    {% if userId == collection.owner.id %}
      {% if privateCounter > 0 %}
        <h3>Your Private Problems in this collection</h3>
        {% for puzzle in collection.puzzle %}
          {% if puzzle.public == false %}
            <div class="row">
              <a href="/puzzle/{{puzzle.id}}">
                {{puzzle.problem}}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div>
        <a class="btn add" href="/puzzle/{{collection._id}}/new">
          Add a Problem
        </a>
      </div>
       
    {% endif %}
  </section>
  <section class="actions">
    {% if userId == collection.owner.id %}
      <!-- private or public status -->
      <h3>
        {% if collection.public %}
          This collection is public.
        {% else %}
          This collection is private.
        {% endif %}
      </h3>
      <!-- Users controls -->
      {%- comment -%} <a class="btn add" href="/puzzle/{{collection._id}}/new">
        Add a Problem
      </a> {%- endcomment -%}
      <div class="two-grouped">
        <!-- Edit the collection -->
        <a href="/collection/{{collection._id}}/edit" class="btn edit">
          Edit Collection
        </a>
        <!-- Delete the collection -->
        <form action="/collection/delete/{{collection._id}}?_method=DELETE" method="POST">
          <input type="submit" value="Delete" class="btn delete">
        </form>
      </div>
    {% endif %}
    {% if loggedIn == true %}
      <!-- Button adds all the problem in the collection to user's personal problem que. -->
      <form action="/user/{{collection.id}}" class="margin-top" method="POST">
        <label class="form-label">
          Which collection would you like to add to?
        </label>
        <input type="text" class="field-colection-name" name="userCollection" value="{{collection.name}}"/>
        <input type="submit" class="btn add" value="Add All Problems to My Problem Set"/>
      </form>
    {% endif %}
  </section>
{% endblock %}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}