{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>Name: {{collection.name}}</h2>
            <h2>Owner: {{collection.owner.username}}</h2>
            <!-- <h2>puzzle: {{puzzle}}</h2> -->
            <h3>
                {% if collection.public %}
                    This collection is public.
                {% else %}
                    This collection is private.
                {% endif %}
            </h3>
            <!-- <h1>Have look: {{collection}}</h1> -->
            {% for problem in puzzle.problem %}
               <h4><a href="/">Problem: {{problem}}</a></h4>
            {% endfor %}
            <h1>How many problems {{puzzle.length}}</h1>
            {% if puzzle.length == 0 %}
               <p>
                    This collection has no problems in it. 
                </p>
            {% else %}
                {% for puzzle in puzzle %}
                    <p><a href="/puzzle/{{puzzle.id}}">{{puzzle.problem}}</a></p>
                {% endfor %}
            {% endif %}

            <!-- Display any Private problem that the user has in this collection. -->
            {% if puzzlePrivate.length > 0 %}
               <h3>Your Private Problems in this collection</h3>
               {% for puzzle in puzzlePrivate %}
                <p><a href="/puzzle/{{puzzle.id}}">{{puzzle.problem}}</a></p>
                {% endfor %}
            {% else %}
                
            {% endif %}
            

            <a href="/puzzle/{{collection._id}}/new">Add a Problem</a>
            <div class="btn-group">
                <a href="/collection/{{collection._id}}/edit" class="btn btn-primary">Edit Collection</a>
                <form action="/collection/delete/{{collection._id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </article>
        <div class="col-md-6">
            <form action="/user/{{collection.id}}" method="POST">
                    <label class="form-label">Add to which collection: </label>
                    <input type="text" class="form-control" name="userCollection" value="{{collection.name}}" />
                <input type="submit" class="btn btn-success" value="Add All Problems to my Problem set" />
            </form>
        </div> 
        <!-- 
        {% if fruit.comments.length > 0 %}
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6" >
                {% for comment in fruit.comments %}
                {% render '../comment.liquid' comment: comment, userId: userId, fruit: fruit, username: username%}
                {% endfor %}
            </div>
        </div> -->
        {% endif %}
    </div>
{% endblock %}