{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}
     <div class="center main-active-page"
     <!-- Check to see if the Problem is due yet. -->
     <!-- if YES Desplay the page. -->
     <!-- if NO display a "No problems are due right now." -->
     {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
     {% capture posttime %}{{dueProblem.dueDate | date: '%s'}}{% endcapture %}
     {% if posttime < nowunix %}     
     <!-- Ask the question -->
     
     <!-- Flash Card -->
     <div class="card-container">
          <div class="card-inner">
              <div class="card-face card-front">
                    <div class="card-content">{{dueProblem.problem}}</div>
              </div>
              <div class="card-face card-back">
                    <div class="card-content">{{dueProblem.answer}}</div>
              </div>
          </div>
      </div>
     <!-- Mark the answer right or wrong -->
     <div class="right-wrong-grouped">
          <a href="/main/{{dueProblem.id}}/right" class="btn btn-primary right">Right</a><a href="/main/{{dueProblem.id}}/wrong" class="btn btn-danger wrong">Wrong</a>
     </div>
      <!-- IF ELSE -->
      {% else %}
          <h1>There are no problems doe right now.</h1>
          <a href="/collection" class="btn">Go Look for some in collections!</a><br>
          <a href="/collection/new" class="btn">Make a new collection!</a><br>
          <a href="/user" class="btn">Go to my account to add problems from my colelctions</a><br>
     {% endif %}
{% endblock %}

