{% layout 'layout.liquid', loggedIn: loggedIn %}

{% block content %}
<div class="container-md">
    <!-- Edit form that display the info you have for your question and answer and lets you change them. -->
    <form action="/main/{{tracker._id}}?_method=PUT/edit" method="POST">
        <fieldset>
            <legend>Edit This {{tracker.problem}}</legend>
            <label class="form-label">Question:</label>
            <input 
                type="text" 
                name="dueDate" 
                placeholder="enter due date" 
                class="form-control"
                value="{{tracker.dueDate}}"
            >
            <input 
                type="text" 
                name="dueDate" 
                placeholder="enter due date" 
                class="form-control"
                value="{{tracker.dayJumper}}"
            >
        </fieldset>
        <!-- Buttons under the forum -->
        <div class="btn-group">
            <!-- submit forum -->
            <input type="submit" value="Edit {{ puzzle.name }}" class="btn btn-success">
            
            <!-- Go Back to puzzle button. -->
            <a href="/user" class="btn btn-warning">Go Back</a>
        </div>
    </form>
</div>
{% endblock %}
