{% layout 'layout.liquid', loggedIn: loggedIn %}
{% block content %}
    <div class="container-md">
          <article>
               <!-- Geniral information from the DB -->
               <h2>Creater of this problem: {{username}}</h2>

               {% for collection in tracker.collections %}
                    <h2>Collections {{forloop.index}}: {{collection.name}}</h2>
               {% endfor %}
                    <h2>Problem: {{tracker.problem}}</h2>
                    <h2>Answer: {{tracker.answer}}</h2>
                    <h2>dueDate: {{tracker.dueDate | date: '%a %b, %d, %Y'}}</h2>
                    <h2>dayJumper: {{tracker.dayJumper}}</h2>
             
            <!-- Buttons to do thing with this question/answer -->
            <div class="btn-group">
                <!-- edit -->
                <a href="/main/{{tracker.id}}/edit" class="btn btn-primary">Edit</a>
                <!-- delete -->
                <form action="/main/delete/{{tracker.id}}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </article>
    </div>
{% endblock %}